
.f1 button
{ background-color: rgba(0,0,0,0);
	/*border:0px solid rbga(0,0,0,0);*/
color: white;
	width: 200px;
	height: 40px;
	margin-bottom: -10px;
	margin-top: 10px;
	border: 1px solid white;
}
.f1 button:active
{	border-radius: 5px;
border: 1px solid white;
background-color: #E2472F; 
}
.f1ol li{
	list-style: none;
	display: inline-block;
	margin-bottom: 20px;

}
.f1ol li a{
	text-decoration: none;
	color: white;
	margin-left: 12px;
	padding: 10px;

}
.f1ol li a:hover{
	border-radius: 5px;
border: 1px solid white;
background-color: #E2472F;
}
.f2 img{
	width: 30px;
	height: 30px;
	margin: 5px;
}
footer{
	width: 100%;
	background-color: rgba(46, 49, 49, 1);
padding-top: 10px;
padding-bottom: 10px;
}

#cexp1{
	padding: 15px;
}

#cexp1:hover{

	transform: scale(1.1);
	transition: .5s;
	background: transparent;
	padding-right: 16.5px;
	padding-left: 16.5px;
}

#cexp2:hover{

	transform: scale(1.1);
	transition: .5s;
	background: transparent;
	padding: 15px;
}
#cexp3:hover{

	transform: scale(1.1);
	transition: .5s;
	background: transparent;
	padding: 15px;
}

