
.rimg img{
	height: 500px;
	width: 40%;
	margin-left: 20px;
	margin-top: -10px;
	border-radius: 15px;
	box-shadow: 5px 5px;
}
.rec{
	margin-left: 620px;
	margin-top: -520px;
	margin-right: 40px;
}
.steps{
	font-size: 1.3em;
	/*font-family: 'Comfortaa', cursive;*/
	font-family: 'Merienda', cursive;
	font-weight: 500;
	margin-top: -15px;
}

.mySlides {display: none}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: 22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: 20px;
}

.next {

  border-radius: 3px 0 0 3px;
margin-left: 94%;

 }
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.fact{
  margin-top: -200px;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.fact{
	margin-top: -480px;
	margin-left: 80px;
	
}
.fact h1{
  margin-top: -100px;
	font-size: 4em;
	color: white;
}
form{
  color: white;
  font-size: 2em;
}
#d00{
  margin-left: 57px;
  height: 30px;
  margin-bottom: 10px;
}
#d22{
  height: 30px;
  margin-bottom: 10px;
  margin-left: 2px;
}
#d11{
  margin-left: 2px;
  height: 30px;
margin-bottom: 10px;
}
#d33{
  margin-left: 9px;
  height: 30px;
margin-bottom: 10px;
}
#d44{
  margin-left: 9px;
  height: 30px;
  margin-bottom: 10px;
}
input,select{
  width: 200px;
  height: 30px;
}
.fact h3{
margin-top: -30px;
  font-size: 2em;
  color: white;
}
input[type=submit]{
  background-color: rgba(0,0,0,0);
  border:0px solid rbga(0,0,0,0);
color: white;
  width: 200px;
  height: 40px;
}
input[type=submit]:active
{ border-radius: 5px;
border: 1px solid white;
background-color: #E2472F; 
}
.mainimgs{
  margin-left: -200px;
  height: 300px;
  width: 500px;
  opacity: .8; 
}
.fact p{
	max-width: 31%;
		font-size: 2em;
	color: black;
	text-align: justify;
}
.imgblur{

	position: relative;
	z-index: -1;
}
.nut{
	margin-left: 70px;
}
.nut h1{
margin-top: -480px;
	margin-left: 80px;
font-size: 4em;
	color: black;
	font-family: 'ZCOOL XiaoWei', serif;

}

