nav{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s;
  background-color: rgba(46, 49, 49, 1);
}

nav.black{
  background: rgba(0,0,0,0.8);
  height: 100px;
  padding: 10px 100px;
}

nav.logo{
  padding: 22px 20px;
  height: 100px;
  float: left;
  font-size: 24px;
  transition: .3s;
}
nav.black.logo{
  color: #fff;


}

.navu{
  list-style: none;
   float: right;
   margin-top: 20px;
   padding:0;
   display: flex;
}

.navu li{
  list-style: none;


}
.navu li a{

  line-height: 80px
    color:#151515;
    padding: 12px 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;



}

nav.black ul li a{

  color:#fff;
}
.navu li a:focus{
  outline:none;

}



    

.li:hover{

  background-color: red;
      background: #E2472F;
    color: white;
    border-radius: 6px;
    transition: .6s;
    padding-top:5px;
    padding-bottom: 5px;
    transform: scale(1.05);  
}
.logo img{

  height: 50px;
  width: 100px;
}

   
  .u1{
     list-style: none;
     float: left;   
  }

  .new{
    background: #E2472F;
  color: #fff;
    border-radius:6px;

    
}

.new:hover{

 background:rgba(226,71,47,0.7);
  

}